<!-- Página principal -->

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bem-vindo(a) a <%= title %></p>
    <p>LOGADO COM SUCESSO</p>
  </body>
</html>
